.errMsg{
    background-color:white;
    color:blue;
    text-align:center;
    padding:10px 0;
    letter-spacing:1.3px;

}

.successMsg{
    background-color:white;
    color:black;
    text-align:center;
    padding:10px 0;
    letter-spacing:1.3px;
}